@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.teste{
    background-image: url("fotos/thumbmelhor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.img-header{
    width: 100px;
    height: 100px;
}

.menu-header{
    display: flex;
    gap: 30px;
}

.texto-principal{
    color: white;
}

.link-principal{
    background-color: #2B78E4;
    padding: 15px;
    color: white;
}